In [3]:
select database();

database()
NULL

In [4]:
USE sakila; -- Database changed

In [5]:
show databases;

Database
information_schema
mysql
performance_schema
sakila
sys
world

In [7]:
CREATE DATABASE IF NOT EXISTS school;
show databases;

Database
information_schema
mysql
performance_schema
sakila
school
sys
world

In [8]:
use school;

In [13]:
CREATE TABLE IF NOT EXISTS tasks(
    task_id INT auto_increment PRIMARY KEY,
    task_name text,
);

: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 4

In [14]:
CREATE table IF NOT EXISTS checklists(
    todo_id INT AUTO_increment,
    task_id INT,
    todo VARCHAR(255) NOT NULL,
    is_completed boolean NOT null DEFAULT FALSE,
    PRIMARY KEY(todo_id,task_id),
    FOREIGN KEY (task_id)
         REFERENCES tasks (task_id)
         ON UPDATE RESTRICT on DELETE CASCADE
);