# Pandas and MySQL Requirements
- Pandas
- mysqlclient
- sqlalchemy

In [1]:
import pandas as pd

In [2]:
host = 'localhost'
port = 3306
username = 'root'
password = 'shreya'
database = 'sales'
protocol = 'mysql://'
conn = f'{protocol}{username}:{password}@{host}:{port}/{database}'
print(conn)

mysql://root:shreya@localhost:3306/sales

In [8]:
query = "select * from customers"
df_result = pd.read_sql(query, con=conn)
df_result

,CID,FirstName,LastName,Address,City,State,Zip,email,phone
0,AB98,Aiden,Berg,11367 Maple Street,Delhi,CA,95315,Aiden.Berg@gmail.com,123
1,AC75,Arianna,Cruz,13944 Myrtle Avenue,Huntington,WV,25770,Arianna.Cruz@excite.com,None
2,AG28,Alyssa,Gonzalez,5062 3rd Street West,Knoxville,TN,37930,Alyssa.Gonzalez@excite.com,None
3,AG37,Allison,Gordon,5601 River Street,Flint,TX,75762,Allison.Gordon@excite.com,None
4,AG63,Angel,Gay,7114 Lake Street,Old Fort,TN,37362,Angel.Gay@gmail.com,None
...,...,...,...,...,...,...,...,...,...
197,XC26,Xavier,Cannon,3516 Maple Avenue,Richmond,CA,94807,Xavier.Cannon@outlook.com,None
198,XG39,Xavier,Glenn,14363 Cottage Street,Crockett,TX,75835,Xavier.Glenn@gmail.com,None
199,ZA17,Zoey,Arnold,955 Church Road,Cambridge,MA,2138,Zoey.Arnold@outlook.com,None
200,ZB47,Zoey,Benjamin,12385 Walnut Street,Sherman,TX,75091,Zoey.Benjamin@hotmail.com,None
201,ZF40,Zoey,Freeman,6530 Cambridge Court,White Mills,KY,42788,Zoey.Freeman@gmail.com,None

AttributeError: 'DataFrame' object has no attribute 'total'